* {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4, h5{
   font-weight: 600;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

sup {
   font-style: normal !important;
}

img {
   max-width: 400px;
   margin-bottom: 0px;
   border-radius: 3px;
}

.left {
   margin-left: 40px;
}

.right {
   margin-right: 40px;
}

header {
   margin: 75px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

header h1,h4{
   text-align: center;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 1000px;
}

section {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.pic {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.pic p {
   font-style: italic;
   margin-top: 10px;
   font-weight: 300;
   text-align: center;
}

#articles-container div {
   margin-bottom: 20px;
}

.quote{
   font-style: italic;
}

#my-draw img{
   transform: rotate(-90deg);
   max-width: 700px;
}

#my-draw p {
   position: relative;
   bottom: 120px;
}

#vid {
   margin-right: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#vid p {
   font-style: italic;
   margin-top: 10px;
   font-weight: 300;
   text-align: center;
}

iframe {
   border-radius: 3px;
   min-width: 500px; 
}

#earth img {
   max-width: 700px;
}

#album{
   display: grid;
   gap: 50px;
   grid-template-columns: repeat(3, 300px);
   grid-template-rows: repeat(3, 300px);
}

#album-title {
   display: grid;
   justify-content: center;
}

#album img {
   max-width: 300px;
   max-height: 300px;
   justify-self: stretch;
}

#sources {
   display: block;
   align-self: flex-start;
}